<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>DINOGAME</title>
        <link rel="stylesheet" href="/views/estilo/dino.css">
        <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
        <script src="/views/controllers/dino.js"></script>
    </head>
    <body>
        <a href="index"><h1>DINOGAME</h1></a>
        <canvas id="board"></canvas>
        <div class="buttons">
            <form action="login">
                <button type="submit">Iniciar sesión</button>
            </form>
            <form action="characters">
                <button type="submit">Cambiar personaje</button>
            </form>
        </div>
        <form id="speedForm" action="/action_page.php" method="get">
            <label for="vol">Dificultad (velocidad desde 10 a 50): <p id="sliderValue">10</p></label>
            <input type="range" min="10" max="50" id="slider" step="10" value="10">
            <input type="submit" value="Aplicar" formaction="index">
        </form>
    </body>
</html>