<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>DINOGAME</title>
        <link rel="stylesheet" href="/views/estilo/dino.css">
        <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
        <script src="/views/controllers/dino.js"></script>
    </head>
    <body>
        <h1>DINOGAME</h1>
        <canvas id="board"></canvas>
        <div class="buttons">
            <form action="login">
                <button type="submit">Iniciar sesión</button>
            </form>
            <form action="characters">
                <button type="submit">Cambiar personaje</button>
            </form>
        </div>
    </body>
</html>